experiments/nyuv2/trainlogs
experiments/nyuv2/save
experiments/nyuv2/dataset
experiments/nyuv2/__pycache__
experiments/nyuv2/.ipynb_checkpoints

experiments/cityscapes/trainlogs
experiments/cityscapes/save
experiments/cityscapes/dataset
experiments/cityscapes/__pycache__
experiments/cityscapes/.ipynb_checkpoint

experiments/celeba/trainlogs
experiments/celeba/save
experiments/celeba/dataset
experiments/celeba/__pycache__
experiments/celeba/.ipynb_checkpoint

experiments/quantum_chemistry/trainlogs
experiments/quantum_chemistry/save
experiments/quantum_chemistry/dataset
experiments/quantum_chemistry/__pycache__
experiments/quantum_chemistry/.ipynb_checkpoint

methods/__pycache__
methods/.ipynb_checkpoints

mtl.egg-info
*.pyc